.header {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: start;
}


.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    justify-items: center;
    padding-left: 35px;
}
.menu__item {
    font-size: 16px;
    font-weight: 300;
}
.socials {
    width: 194px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    justify-content: flex-end;
    grid-column: 4 / 5;
    justify-items: end;
}